html, body, #mapDiv {
  height: 100%;
  width: 100%;
}
html {
    font-size: 1em;
    line-height: 1.4;
}
.legal {
    font-size: small;
}

/* ==========================================================================
   Nav Bar Styles
   ========================================================================== */
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: 15px;
}
.navbar {
    background-color: #153359;
    border-color: #0b1b30;
    color: #fff;
    min-height: 100px;
}
.navbar-brand>img {
    display: inline-block;
}
.navbar-brand {
    float: left;
    height: 100px;
    padding: 5px 5px;
    font-size: 18px;
    line-height: 20px;
}
.navbar-brand-image {
    display: inline-block;
    /*height: 40px;*/
    margin-right: 10px;
    margin-left: 10px;
}
.nav>li>a {
    color: #fff;
}
.nav>li>a:focus, a:hover {
    color: #c0c0c0;
}
.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    color: #c0c0c0;
    background-color: transparent;
}
.navbar-nav>li>a {
    padding-top: 40px;
    padding-bottom: 10px;
    line-height: 20px;
}
#about {
    display: inline-block;
    position: absolute;
    right: 1px;
}
#search {
    display: inline-block;
    position: absolute;
    z-index: 2;
    top: 35px;
    right: 65px;
}
/* ==========================================
**** Custom Controls Styles ****
============================================= */
.esriSimpleSlider {
    bottom: 55px !important;
    border: none;
    background-color: #153359;
    color: #ffffff;
}
.esriSimpleSliderDecrementButton:hover,
.esriSimpleSliderIncrementButton:hover {
  background-color: #1f4b82;
}
.esriSimpleSliderVertical .esriSimpleSliderIncrementButton,
.esriSimpleSliderVertical .esriSimpleSliderDecrementButton {
    font-weight: 500;
    font-size: 20px;
    line-height: 27px;
}
.esriSimpleSliderVertical .esriSimpleSliderIncrementButton {
  border-bottom: 1px solid #cccccc;
}
.esriSimpleSliderDisabledButton,
.esriSimpleSliderDisabledButton:active,
.esriSimpleSliderDisabledButton:hover {
    cursor: default;
    background-color: #cccccc;
    color: #ffffff;
}
#HomeButton {
    position: absolute;
    bottom: 117px;
    right: 15px;
    z-index: 50;
}
.HomeButton .home {
    background-color: #153359;
}
.HomeButton .home:hover {
    background-color: #1f4b82;
}
#BasemapToggle {
    position: absolute;
    bottom: 58px;
    right: 50px;
    z-index: 50;
}
.BasemapToggle .basemapImage {
    width: 41px;
    height: 51px;
}
.BasemapToggle .basemapTitle {
    width: auto;
}





.esriPopup .titlePane, .esriPopup.light .titlePane, .esriPopup.dark .titlePane {
    height: initial;
    padding: 3px 0 3px 10px;
    background-color: #3c3c3c;
    font-size: 14px;
}
t1 {
    font-weight: bold;
    font-size: 16px;
}
.close:focus, .close:hover {
    opacity: .75;
}
.close {
    opacity: .5;
}
.closeX {
    margin: 2px 0 0 0;
    padding: 0 5px 0 5px;
    cursor: pointer;
    color: #ffffff;
    opacity: .5;
}
.closeX:hover,
.closeX:focus {
    color: #ffffff;
    cursor: pointer;
    opacity: .85;
}

/* ==========================================
**** modal custom styles ****
============================================= */
.modal-header {
    background-color: #102847;
    color: #fff;
}
.modal-style {
    background-color: #153359;
    border-style: none;
    color: #fff;
}
